<div class="container">
  <div class="container-header">
    <p class="container-header-body">Password Settings</p>
  </div>
  <div class="container-body">
    <p class="container-body-body">Change Password</p>
    <form
    class="form"
    autocomplete="off"
    [formGroup]="password"
    (ngSubmit)="onSavePassword()"
  >
    <div class="form__group">
      <label for="oldPassword" class="form__label">Old password</label>
      <input
        class="form__input form-control"
        placeholder="Old Password"
        id="oldPassword"
        name="oldPassword"
        formControlName="oldPassword"
        required
        type="password"
        [ngClass]="{ 'is-invalid': isPassword && f.oldPassword.errors }"
      />
      <div *ngIf="f.oldPassword.errors" class="invalid-feedback">
        <div *ngIf="f.oldPassword.errors.required">old password is required</div>
      </div>
    </div>
    <div class="form__group">
      <label for="newPassword" class="form__label">New password</label>
      <input
        class="form__input form-control"
        placeholder="New Password"
        id="newPassword"
        name="newPassword"
        formControlName="newPassword"
        required
        type="password"
        [ngClass]="{ 'is-invalid': isPassword && f.newPassword.errors }"
      />
      <div *ngIf="f.newPassword.errors" class="invalid-feedback">
        <div *ngIf="f.newPassword.errors.required">new password is required</div>
      </div>
    </div>
    <button class="form-button">Save</button>
  </form>
  </div>
</div>
