<div class="main">
  <div class="container" *ngIf="!isPassword">
    <p class="container-header">Forgot Password</p>
    <p class="container-subheader">Enter Your Email Address</p>
    <p class="container-body" *ngIf="isPassword">
      Check your mail and follow the steps
    </p>
    <form
      class="form"
      autocomplete="off"
      *ngIf="isValid"
      [formGroup]="forgotPassword"
    >
      <div class="form__group">
        <label for="email" class="form__label">Email address</label>
        <input
          type="email"
          class="form-control form__input"
          placeholder="Email address"
          formControlName="email"
          id="email"
          required
          [ngClass]="{ 'is-invalid': isSubmitted && f.email.errors }"
        />
        <div *ngIf="f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">email is required</div>
          <div *ngIf="f.email.errors.email">Invalid email address</div>
        </div>
      </div>
      <div style="text-align: center">
        <button class="form-button" (click)="sendOTP()">Submit</button>
      </div>
    </form>
    <div>
      <a class="container-body" routerLink="/login">back to login</a>
    </div>
  </div>
  <div class="container" *ngIf="isPassword">
    <p class="container-header">Forgot Password</p>
    <p class="container-body">Enter New Password</p>
    <form class="form" autocomplete="off" [formGroup]="password">
      <div class="form__group">
        <label for="password" class="form__label">Password</label>
        <input
          class="form-control form__input"
          placeholder="password"
          id="password"
          formControlName="password"
          name="password"
          type="password"
          required
          [ngClass]="{ 'is-invalid': isValid && g.password.errors }"
        />
        <div *ngIf="g.password.errors" class="invalid-feedback">
          <div *ngIf="g.password.errors.required">password is required</div>
        </div>
      </div>
      <div style="text-align: center">
        <button class="form-button btn-primary" (click)="submit()">Submit</button>
      </div>
    </form>
    <div>
      <a class="container-body" routerLink="/login">back to login</a>
    </div>
  </div>
</div>
