@import "../../sass/text";
@import "../../sass/button";
@import "../../sass/form";

.main {
  width: 100%;
  padding: 6rem;
}

.form-button {
  width: 70%;
}

.container {
  width: 68rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $mobile-large){
    width: 100%;
  }

  @include text(1rem, center, 100%);
  &-header {
    text-align: center;
  }
  &-body {
  text-align: center;
  }
}

.form {
  margin-bottom: 2rem;
  &-button {
    width: 16rem;
  }
  &__input {
    width: 40rem;
  }
}
