<div class="container">
  <div class="container-header">
    <p class="container-header-body">Menu Settings</p>
  </div>
  <div class="container-body">
    <button class="container-button" (click)="addMenu()">Create Menu</button>
    <div>
      <table class="table" style="margin-bottom: 2rem">
        <thead>
          <tr class="text-center">
            <th class="table-body">No</th>
            <th class="table-body">Name</th>
            <th class="table-body">price</th>
            <th class="table-body">Shop</th>
            <th class="table-body">Ingredients</th>
            <th class="table-body">Category</th>
            <th class="table-body">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let menu of menus| paginate:paginationConfig; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ menu.name }}</td>
            <td>{{menu?.currency}}{{ menu?.price }}</td>
            <td>{{ menu?.shop?.name }}</td>
            <td>
              <span *ngFor="let ingredient of menu?.ingredients">{{ ingredient?.ingredient?.ingredient}},</span>
            </td>
            <td>{{ menu?.category?.category }}</td>
            <td style="display: flex; justify-content: space-evenly;">
              <button class="decline-button" (click)="deleteMenu(menu?._id)">
                Delete
              </button>
              <button class="approve-button" (click)="getMenu(menu?._id)">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      <div class="container-form" style="display: none;" id="edit">
        <p *ngIf="isCreate">Create Menu</p>
        <p *ngIf="isError">{{errorMsg}}</p>
        <p *ngIf="!isCreate">Edit Menu</p>
        <form class="form" autocomplete="off" [formGroup]="menuForm">
          <div *ngIf="isContinue">
            <div class="form__group">
              <label for="name" class="form__label">Name</label>
              <input type="text" class="form__input form-control" id="name" name="name" formControlName="name"
                placeholder="name" required [ngClass]="{ 'is-invalid': submit && f.name.errors }" />
              <div *ngIf="f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">menu name is required</div>
              </div>
            </div>
            <div class="form__group">
              <label for="description" class="form__label">Description</label>
              <input type="text" class="form__input form-control" id="description" name="description"
                formControlName="description" placeholder="description" required
                [ngClass]="{ 'is-invalid': submit && f.description.errors }" />
              <div *ngIf="f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">description is required</div>
              </div>
            </div>
            <div class="row">
              <div class="form__group col">
                <label for="category">Category</label>
                <select id="category" class="form__input form-select" style="width: 95%" formControlName="category"
                  placeholder="category" [ngClass]="{ 'is-invalid': submit && f.category.errors }">
                  <option selected>Choose...</option>
                  <option *ngFor="let category of categories" [ngValue]="category._id">
                    {{ category.category }}
                  </option>
                </select>
                <div *ngIf="f.category.errors" class="invalid-feedback">
                  <div *ngIf="f.category.errors.required">category is required</div>
                </div>
              </div>
              <div class="form__group col">
                <label for="shop">Shop</label>
                <select id="shop" class="form__input form-select" formControlName="shop" placeholder="shop"
                  [ngClass]="{ 'is-invalid': submit && f.shop.errors }">
                  <option selected>Choose...</option>
                  <option *ngFor="let shop of shops" [ngValue]="shop._id">
                    {{ shop.name }}
                  </option>
                </select>
                <div *ngIf="f.shop.errors" class="invalid-feedback">
                  <div *ngIf="f.shop.errors.required">shop is required</div>
                </div>
              </div>
            </div>
            <div class="form__group" style="margin-bottom: 3rem">
              <label for="price" class="form__label">Price</label>
              <input type="text" class="form__input form-control" id="price" name="price" formControlName="price"
                placeholder="price" required [ngClass]="{ 'is-invalid': submit && f.price.errors }" />
              <div *ngIf="f.price.errors" class="invalid-feedback">
                <div *ngIf="f.price.errors.required">price is required</div>
              </div>
            </div>
            <div class="form__group">
              <div class="input-box">
                <p *ngIf="!selectedIngredients.length">No ingredients picked yet</p>
                <ng-container *ngFor="let ingredient of selectedIngredients; let i = index">
                  <p class="badge">{{ingredient?.ingredient}} <span class="badge-cancel" (click)="remove(i)">x</span>
                  </p>
                </ng-container>
              </div>
              <p>Pick at least one ingredient:</p>
              <div class="input-buttons">
                <ng-container *ngFor="let ingredient of ingredientList">
                  <button class="input-buttons-button" (click)="onPick(ingredient)">{{ingredient?.ingredient}}</button>
                </ng-container>
              </div>
            </div>
            <div class="form-group row mb-2">
              <label for="exampleFormControlFile1">Image</label>
              <input type="file" #logo class="form-control-file" id="exampleFormControlFile1" name="logo"
                (change)="selectImage($event)" placeholder="logo" required />
            </div>
          </div>
          <div *ngIf="!isContinue">
            <div formArrayName="ingredients">
              <ng-container *ngFor="let ingredient of ingredients.controls;let i = index">
                <div [formGroupName]="i" style="display: flex; justify-content:space-between">
                  <div class="form__group" style="width: 48%">
                    <label for="price" class="form__label">Ingredient</label>
                    <input type="text" class="form__input form-control" id="price" name="name" formControlName="name"
                      placeholder="name" required readonly />
                  </div>
                  <div class="form__group" style="width: 48%">
                    <label for="name" class="form__label">Calories(in kcal)</label>
                    <input type="number" class="form__input form-control" id="name" name="name" formControlName="calorie"
                      placeholder="calorie" required
                      [ngClass]="{ 'is-invalid': submit && ingredients.controls[i].get('calorie')?.errors }" />
                    <div *ngIf="ingredients.controls[i].get('calorie')?.errors" class="invalid-feedback">
                      <div *ngIf="ingredients.controls[i].get('calorie')?.errors?.required">calorie is required</div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div style="margin: 2rem 0;">
            <a class="next-body" *ngIf="isContinue" (click)="onNext()">
              Next
            </a>
            <a class="next-body" *ngIf="!isContinue" (click)="onNext()">
              Prev
            </a>
          </div>
          <button class="form-button" *ngIf="isCreate && !isContinue" (click)="onSubmit()">
            Done
          </button>
          <button class="form-button" *ngIf="!isCreate" (click)="onEdit()">
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
