<div class="p-3 container">
  <div class="container-left">
    <div class="container-left-box">
      <div class="navbar-nav">
        <li
          class="nav-link container-left-box-nav"
          [routerLink]="['/shop/shop']" [routerLinkActive]="'is-active'"
        >
          <a>Shop</a>
        </li>
        <li
          class="nav-link container-left-box-nav"
          [routerLink]="['/shop/menu']"  [routerLinkActive]="'is-active'"
        >
          Menu
        </li>
        <li
          class="nav-link container-left-box-nav"
          [routerLink]="['/shop/order']"  [routerLinkActive]="'is-active'"
        >
          Orders
        </li>
      </div>
    </div>
  </div>
  <div class="container-right">
    <router-outlet></router-outlet>
  </div>
</div>
