<div class="container">
  <div class="container-header">
    <p class="container-header-body">Category Overview</p>
  </div>
  <div class="container-body">
    <button class="container-button" (click)="addCategory()">
      Add Category
    </button>
    <div>
      <table class="table" style="margin-bottom: 2rem">
        <thead>
          <tr class="text-center">
            <th class="table-body">No</th>
            <th class="table-body">Category</th>
            <th class="table-body">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="text-center"
            *ngFor="let category of categories| paginate:paginationConfig; let i = index"
          >
            <td>{{ i + 1 }}</td>
            <td>{{ category?.category }}</td>
            <td style="display: flex; justify-content: space-evenly;">
              <button
                class="decline-button"
                (click)="deleteCategory(category?._id)"
              >
                Delete
              </button>
              <button
                class="approve-button"
                (click)="getCategory(category?._id)"
              >
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      <div style="margin-top: 3rem;display: none;" id="edit">
        <p class="container-header-subheader" *ngIf="isCreate">Create Category</p>
        <p class="container-header-subheader" *ngIf="!isCreate">Edit Category</p>
        <form class="form" autocomplete="off" [formGroup]="categoryForm">
          <div class="form__group">
            <label for="category" class="form__label">Category</label>
            <input
              type="text"
              class="form__input form-control"
              placeholder="category"
              formControlName="category"
              id="category"
              required
              [ngClass]="{ 'is-invalid': submitCategory && z.category.errors }"
            />
            <div *ngIf="z.category.errors" class="invalid-feedback">
              <div *ngIf="z.category.errors.required">category is required</div>
            </div>
          </div>
          <button class="form-button" *ngIf="isCreate" (click)="createCategory()">
            Save
          </button>
          <button class="form-button" *ngIf="!isCreate" (click)="updateCategory()">
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
