@import '../sass/text';
@import '../sass/vairable';
@import '../sass/main';
body{
  backdrop-filter: grey;
}
.container{
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem auto;

  @media only screen and (max-width: $laptop-small){
    width: 94%;
  }
  @media only screen and (max-width: $mobile-large){
    width: 100%;
    flex-direction: column;
  }

  @include text(10px, left, 100%);
  &-body{
    padding: 0 10px;
    @media only screen and (max-width: $mobile-large){
      display: none;
    }
  }
  &-left{
    width: 18%;
    height: 33rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);

    @media only screen and (max-width: $mobile-large){
      width: 100%;
      height: 5rem;
      flex-direction: row;
      margin-bottom: 3rem;
    }

    &-box{
      display: flex;
      flex-direction: column;
      width: 100%;
      @media only screen and (max-width: $mobile-large){
        flex-direction: row;
      }
      &-nav{
        padding: 1rem;
        background-color: white;
        color: black;
        width:100%;
        cursor: pointer;
        @media only screen and (max-width: $mobile-large){
          font-size: 1.2rem;
        }
        &:hover{
          background-color:#F5F5F5;
        }

        &:active{
          background-color: #EDEDED;
        }
      }
    }

    &-box-1{
      display: flex;
      flex-direction: column;
      width: 100%;
      @media only screen and (max-width: $mobile-large){
        flex-direction: row;
        width: 17rem;
      }
      &-nav{
        padding: 1rem;
        background-color: white;
        color: black;
        width:100%;
        cursor: pointer;
        @media only screen and (max-width: $mobile-large){
          font-size: 1.2rem;
        }
        &:hover{
          background-color:#F5F5F5;
        }

        &:active{
          background-color: #EDEDED;
        }
      }

    }
  }


  &-right{
    width: 80%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
    @media only screen and (max-width: $mobile-large){
      width: 100%;
    }

  }
}

.navbar-nav{
  @media only screen and (max-width: $mobile-large){
    flex-direction: row;
    width: 48rem;
  }
}

.is-active{
  background-color: #EDEDED;
}
